.tabbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.tabbar ul {
  height: 1rem;
  background: #fff;
  display: flex;
}

.tabbar ul li {
  flex: 1;
  height: 1rem;
}

.tabbar ul li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tabbar ul li a i {
  display: block;
  width: .4rem;
  height: .4rem;
  font-size: 22px;
}

.tabbar ul li a i em {
  position: relative;
  top: -0.2rem;
  font-size: 0.20rem;
  color: red;
  border-radius: 50%;
}

.tabbar ul li a span {
  font-size: 0.22rem;
}

a {
  color: #999;
}

.active {
  color: red;
}
